*{
margin:0;
padding: 0;
max-width: 100%;
font-family: "Impact", sans-serif;}
body {background-color: black;}
.menu{
 background-color: aliceblue;
 display: flex;
 justify-content: flex-end;
}
.nombre{
  font-family: Impact, sans-serif;
  font-size: xx-large;
}
logo
{width: 10rem;
height: auto;
margin-left: 20px;
padding: 20px;
animation-duration: 2s;}
header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    justify-content:space-around;
    align-items: center;
    margin-left: 0 auto;
    }
.menu{
display: flex;
flex-direction: row;
justify-content: space-around;
width: 100%;
height: 50px;
}
h2{
    display: flex;
    justify-content: flex-start;
    font-family: Impact;
    padding-left: 25px;
    background-color: gray;
}
li{
  list-style-type: none;
}
.btn-secondary{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}
.contacto{
  color: aliceblue;
  font-size: larger;
}
form{
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  width: 100%;
  height: 400px;
}
.botonForm{
  display: flex;
  justify-content: flex-end;
}
/* .productos{
  background-color:#B6EEA6;
  display: flex;
  justify-content: center;
  width: 350px;
  margin-left: 50px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}*/
.EstilosProductos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.card{
  margin: 1rem auto;
  border: 1px solid black;

}
.caja_cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  background-color: #23b788;
}
