*{
margin:0;
padding: 0;
max-width: 100%;
height: auto;
font-family: 'Montserrat', sans-serif;}
body {
  background-color: rgb(3, 9, 91);
}
.menu{
 background-color: aliceblue;
 display: flex;
 justify-content: flex-end;
}
.nombre{
  font-family: 'Montserrat', sans-serif;
  font-size: xx-large;
}
logo{
  width: 10rem;
  height: auto;
  margin-left: 20px;
  padding: 20px;
  animation-duration: 2s;}
header{
  font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    justify-content:space-around;
    align-items: center;
    margin-left: 0 auto;
    }
.menu{
display: flex;
flex-direction: row;
justify-content: space-around;
width: 100%;
height: 50px;
}
h2{
    display: flex;
    justify-content: flex-start;
    font-family: 'Montserrat', sans-serif;
    padding-left: 25px;
    background-color: gray;
}
li{
  list-style-type: none;
}
#btnBuscar{
  font-weight: bold;
  border-radius: 10;
}
.btn-secondary{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 20, 135);
  width: 80px;
  height: 80px;
}

button{
  background-color: rgb(64, 64, 246);
  color:white;
  text-transform: uppercase;
  font-weight: bold;
}
.contacto{
  color: aliceblue;
  font-size: larger;
}
form{
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  width: 100%;
  height: 400px;
}
.botonForm{
  display: flex;
  justify-content: flex-end;
}

.EstilosProductos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.card{
  margin: 1rem auto;
  border: 1px solid black;

}
.caja_cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  background-color: #23b788;
}

/* Estilos modal buscar */

.modal-overlay{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content{
  background-color: #f4f4f4;
  margin: 20% auto;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
}

.modal-header h2, .modal-footer h3{
  margin: 0;
}

.modal-header{
  background: rgb(20, 20, 135);
  padding: 15px;
  color: #fff;
}

.modal-body{
  padding: 10px 20px;
}

.closeBtn{
  font-size: 30px;
  color: #fff;
  float: right;
}

.closeBtn:hover,.closeBtn:focus{
  color: #e439ef;
  text-decoration: none;
  cursor:  pointer;
}
