*{
margin:0;
padding: 0;
max-width: 100%;
font-family: "Open Sans", sans-serif;}
body {background-color: aquamarine;}

.logo
{width: 10rem;
height: auto;
margin-left: 20px;
padding: 20px;}
header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin-left: 20px;
    }

h2{
    display: flex;
    justify-content: flex-start;
    font-family: Impact;
    padding-left: 25px;
    background-color: #A4778B;
}
/*.caja_cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #C0B298;
  }
  .card {
    background-color:#B6EEA6;
    display: flex;
    justify-content: center;
    width: 350px;
    margin-left: 50px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .card_img {
    display: flex;
    justify-items: center;
    margin-top: 10px;
    width: 100%;
    height: auto;
  }
  .card_parrafo {
    display: flex;
    color: black;
    font-size: x-large;
    font-family: "Open Sans", sans-serif;
    justify-content: center;
    margin-bottom: 3%;}
    aside{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      font-size: large;
    }*/